img {
    max-width: 20%!important;
    height: auto;
}
.jumbotron {
    background-color: lightblue
}
.account-dropdown{
    position: absolute;
    right: 1em;
    top: 3em;
    min-height: 20em;
    max-width: 21em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}